<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <h3 class="panel-title">
            	<div class="col-md-6"> <%= comment.title %></div>
            	<div class="col-md-6" align="right"><%= comment.created_at %> <%= link_to "Delete", [comment.article, comment],
              																								method: :delete %></div>	
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <%= comment.body %>
    </div>
</div>

