<% content_for :contact do %>
	class="active"
<% end %>

<div class="row">
	<div class="col-md-8">
		<h2>My name is Kirill Nevedrov</h2>
		<h2>
			<span class="label label-primary">
				<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> +380995640914
			</span>
		</h2>
		<h2>
			<span class="label label-success">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> KyrylNevedrov@gmail.com
			</span>
		</h2>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-2">
		<%= image_tag("1.png", class: "img-rounded", alt: "Contact me", size: '150') %>
	</div>
</div>